# node / monorepo
node_modules/
**/node_modules/
.pnpm-store/
pnpm-lock.yaml

# builds & caches
.next/
**/.next/
dist/
build/
out/
coverage/
.turbo/
.cache/
.eslintcache

# env & secrets
.env
.env.local
.env.*.local

# editors & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# npm lockfiles (wir nutzen pnpm)
package-lock.json
**/package-lock.json
